[*.{kt,kts}]
root = true
ktlint_code_style = android_studio
end_of_line = crlf
indent_size = 4
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
max_line_length = off
ij_kotlin_imports_layout = *, java.**, javax.**, kotlin.**, ^
ktlint_function_naming_ignore_when_annotated_with = Composable
compose_preview_naming_strategy = suffix
compose_allowed_composition_locals = LocalShapes, LocalTypography, LocalColors
